body {
    font-family: Arial, sans-serif;
}

.container {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #000;
    text-align: center;
}

th, td {
    padding: 10px;
}

thead th {
    background-color: #f2f2f2;
}

button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

input[type="text"], input[type="date"], input[type="time"], select {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
}

.survey-meta {
    margin-top: 20px;
}

.survey-meta label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
}

.survey-meta input {
    margin-bottom: 10px;
}


.pci-container {
    display: flex;
    justify-content: space-between;
    /*width: 80%;*/
    align-items: flex-start; /* Ensures both columns stretch to the same height */
    
}

.pci-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40%;
    height: 400px;
    position: relative;
}

.rating-block {
    display: flex;
    align-items: center;
    margin-bottom: 0px; /* Remove bottom margin to eliminate space */
    position: relative;
    border: 0px solid indigo;  /* Thin black border */
}

.color-box {
    width: 80%;  /* Make the color box wider */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    font-weight: bold;
    padding: 5px;
    border: 0px solid black;  /* Thin black border */
    margin-bottom: 0; /* Remove bottom margin to eliminate space */
}

.label-inside {
    text-align: center;
    font-size: 16px;
    color: black; /* Keep label inside the colored area white */
}

.range-label {
    position: absolute;
    right: 10%;  /* Move label to the left side adjacent to the box */
    font-size: 16px;
    color: black;  /* Set label text to black */
    bottom: 0;  /* Align number labels to the bottom of each box */
    /*top: -20px; /* Adjust as necessary to position it above the box */
}